    body {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template: auto 1fr auto / auto 1fr auto;
        height: 100vh;
    }

    header {
        grid-column: 1/4;
        padding: 2rem;
        background-color: rgb(239, 213, 217);
    }

    aside#left {
        grid-column: 1/2;
        padding: 2rem;
        background-color: rgb(0, 255, 242);
    }

    main {
        grid-column: 2/3;
        padding: 2rem;
        background-color: rgb(252, 164, 1);
    }

    aside#right {
        grid-column: 3/4;
        padding: 2rem;
        background-color: rgb(255, 208, 0);
    }


    footer {
        grid-column: 1/4;
        padding: 2rem;
        background-color: rgb(37, 172, 37);
    }


    @media (max-width: 900px) {

        aside#right {
            display: none;
        }

        main {
            grid-column: 2/4;
        }
    }

    @media (max-width: 600px) {

        aside#right,
        aside#left {
            display: none;
        }

        main {
            grid-column: 1/4;
        }
    }