$utilities: (
    "padding": (property: padding,
        class: g--padding-,
        values: (1: 1px,
            2: 5px,
            3: 10px,
            4: 20px,
            5: 40px)),
    "width":(property: width,
        class: g--width-,
        values: (1: 10px,
            2: 20px,
            3: 25px,
            4: 40px,
            5: 70px)),
    "font-size":(property: font-size,
        class: g--font-size-,
        values: (6px, 7px, 10px, 12px, 14px, 16px, 18px, 20px)),
    "$keys": ("xxxs",
        "xxs",
        "xs",
        "s",
        "m",
        "l",
        "xl",
        "xxl",
        "xxxl"
    )
);